/* Formulario.css */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001f3f;
  color: rgb(5, 17, 77);
}

.form-container {
  background-color: #7ec8e3;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-container label span {
  margin-bottom: 4px;
}

.form-container input,
.form-container select {
  width: 7;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: 50px;
}

.form-container button {
  background-color: #3a7a91;
  color: #fff;
  border: 1px solid #3a7a91;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}
